//  .benefits {
//   //  @extend %container;
//    @include container;
//  }

.benefits__wrapper {
      height: 120px;
      display: flex;
      margin-bottom: 30px;
      justify-content: center;
      align-items: center;
    
      background-color:#f5f4fa ;
      border-radius: 4px;
  
  // @media screen and (min-width: 480px) {
  //   width: 450px;
  //   height: 120px;
  //   display: flex;
  //   margin-bottom: 30px;
  //   justify-content: center;
  //   align-items: center;
  //   background-color: #f5f4fa;
  //   border-radius: 4px;
  // }

  // @media screen and (min-width: 768px) {
  //   width: 354px;
  //   height: 120px;
  //   display: flex;
  //   margin-bottom: 30px;
  //   justify-content: center;
  //   align-items: center;
  //   background-color: #f5f4fa;
  //   border-radius: 4px;
  // }

  // @media screen and (min-width: 1200px) {
  //   width: 270px;
  //   height: 120px;
  //   display: flex;
  //   margin-bottom: 30px;
  //   justify-content: center;
  //   align-items: center;
  //   background-color: #f5f4fa;
  //   border-radius: 4px;
  // }
}

.benefits__card {
  @media screen and (min-width: 768px) {
      margin-bottom: 30px;
      flex-basis: calc((100% - 2 * 30px) / 2);
      margin-left: 30px;
    }
  
    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 4 * 30px) / 4);
    }
  
    @media screen and (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  // margin-left: var(--card-set-gap);
  // margin-bottom: var(--card-set-gap);
  // flex-basis: calc(100% / 4 - var(--card-set-gap));
  
  // @media screen and (max-width: 480px) {

  //   margin-left: 0;
  // }
  // @media screen and (max-width: 768px) {

  //   &:nth-child(2n + 1) {
  //     margin-left: 0;
  //   }
  // }
  // @media screen and (min-width: 1200px) {
  //   margin-bottom: 0;
  // }
}

.benefits__list {
    @media screen and (max-width: 767px) {
        width: 100%;
      }
    
      @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: calc(-1 * 30px);
        margin-left: calc(-1 * 30px);
      }
  // @media screen and (min-width: 480px) {
  //   //  margin-left: calc(-1 * var(--card-set-gap));
  // }
  // @media screen and (min-width: 768px) {
  //   display: flex;
  //   flex-wrap: wrap;
  //   //  margin-left: calc(-1 * var(--card-set-gap));
  // }
  // @media screen and (min-width: 1200px) {
  //   display: flex;
  //   margin-left: calc(-1 * var(--card-set-gap));
  // }
}

.benefits__title {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
    @media screen and (min-width: 768px) {
        text-align: left;}

  // @media screen and (max-width: 480px) {
  //   text-align: center;
  // }
}

.benefits__text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--description-color);
}
