
.header {
    border: 1px solid #ececec;
    border-left: none;
    border-top: none;
    border-right: none;
}

.header-container {
    display: flex;
    align-items: center;
}

.header__logo {

    @media screen and (min-width:480px) {
        padding-top: 16px;
        padding-bottom: 16px;
    }
         @media screen and (min-width:768px) {
            padding-top: 26px;
                padding-bottom: 26px;
                margin-right: 87px;
         }
                  @media screen and (min-width:1200px) {
                    margin-right: 91px;
                  }
   
}


.header__list {

    @media screen and (max-width:480px) {
            display: none;
        }
    
        @media screen and (max-width:768px) {
                  margin-left: auto;
                display: flex;
                flex-direction: column;
        }
    
        @media screen and (min-width:1200px) {
            margin-left: auto;
                display: flex;
                gap: 50px;
        }
    
    
}
